.icons{
    background: #A1BFD4;
border-radius: 0px;
padding-top: 63px;
padding-bottom: 63px;
}

.icons__list{
    display: flex;
    justify-content: center;
    gap: 40px;
}


.icons__svg{
    fill: #FFFFFF;
}